# Rust
/target
**/target
Cargo.lock.bak

# Node / front end
node_modules/
dist/
apps/desktop/dist/

# Tauri
apps/desktop/src-tauri/gen/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# App data / backups
*.acrobat-backup
